<!DOCTYPE html>
<html lang="pt_BR">


<!-- Receberá o head -->
<head>
   <%- include('partials/head'); %> 
</head>

<!-- Início do Body -->
<body>

    
<!-- Receberá o Header -->
<header>    
    <%- include('partials/header'); %>
</header>


<!-- Conteúdo da página -->
<main>
    <form action="/cadastro" method="post" class="col-4">
        <i class="bi bi-bookmark-check-fill" style="color: #343A40; font-size: 32px;"></i> <a href="paginaInicial" style="text-decoration: none;"><span style="color: #343A40; font-size: 32px;">Biblioteca Central</span></a>
    
        <h1>Cadastro de Livros</h1>
    
        <h3 class="mb-3 mt-3 fw-normal" style="font-size: 16px;">Quer cadastro de alunos? <a href="cadastroALunos.html" style="text-decoration: none; font-weight: bold;">Entre aqui.</a> </h3>
    
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Nome da Obra" name="titulo">
          <label for="floatingInput">Título da Obra:</label>
        </div>
        <div class="form-floating mb-3">
          <input type="text" class="form-control" id="floatingInput" placeholder="Usuário" name="sobrenome">
          <label for="floatingInput">Sobrenome:</label>
        </div>
        <div class="form-floating mb-3">
          <input type="email" class="form-control" id="floatingInput" placeholder="name@example.com" name="email">
          <label for="floatingInput">Endereço de E-mail:</label>
        </div>
        <button class="w-50 btn btn-lg btn-primary" type="submit">Cadastrar Livro</button>
        
      </form>
    
      <div class="col-5">
        <div class="container">
          <div class="col card m-auto shadow-sm mb-3"  style="max-width: 400px;">
            <div class="card-body">
              <div>
                <i class="bi bi-book"></i> <span>Título da Obra:</span>
                <%= livro.titulo %>
              </div>
              <div>
                <i class="bi bi-person"></i> <span>Nome do Autor:</span>
                <%= livro.nomeAutor %>
              </div>
              <div>
                <i class="bi bi-calendar-check"></i> <span>Ano de Publicação:</span>
                <%= livro.anoPublicacao %>
              </div>
              <div class="d-flex justify-content-between align-items-center">
                <div class="btn-group">
                  <button type="button" class="btn btn-sm btn-outline-secondary">Excluir</button>
                  <button type="button" class="btn btn-sm btn-outline-secondary">Editar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  
</main>
<!-- Fim do conteúdo da página -->


<!-- receberá o Footer -->
<div class="container">
    <%- include('partials/footer'); %>
</div>



<!-- Scripts - Bootstrap, JQuery e CloudFlare -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- scripts para Javascript Interno -->
<script src="js/bootstrap.bundle.min.js"></script>
<script src="js/validação.js"></script>
<script src="js/search.js"></script>   
</body>
</html>