<!DOCTYPE html>
<html lang="pt_BR">


<!-- Receberá o head -->
<head>
   <%- include('../partials/head'); %> 
</head>

<!-- Início do Body -->
<body>

    
<!-- Receberá o Header -->
<header>    
    <%- include('../partials/header'); %>
</header>


<!-- Conteúdo da página -->
<main>
    <section class="container">
        <!-- NOVO MODAL -->
        <div class="modal" tabindex="-1" id="mostra">
            <div class="modal-dialog" style="background-color: rgb(209, 210, 211);">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title">Login</h5>
                  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                  </button>
                </div>
                <div class="modal-body" style="background-color: rgb(164, 165, 167);">
                    <form action="">
                        <label for="login_nome">Usuário</label>
                        <input type="text" id="login_nome" name="login_nome" class="form-control">

                        <label for="senha">Senha</label>
                        <input type="password" name="senha" id="senha" class="form-control">
                    </form>
                </div>
                <div class="modal-footer">
                  <button type="submit" class="btn btn-primary" data-dismiss="modal" id="logar">Logar</button>
                </div>
              </div>
            </div>
          </div>
        <div class="container">
          <div class="row">
              <div class="col">
                  <div class="row">
                      <div class="col d-flex flex-wrap align-items-center">
                        <div class="col">
                            <h1>Lista de Livros</h1>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2  ml-5" type="search" placeholder="Pesquisar livro" aria-label="Search">
                                <a href="/pesquisarLivros" class="btn btn-outline-primary">Pesquisar livros</a>
                              </form>
                        </div>
                      </div>
                  </div>
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Título</th>
                              <th>Autor</th>
                              <th>Ano de Publicação</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% if(livro_nome == 0){ %>
                              <tr>
                                  <td colspan="6" class="alert alert-danger text-center">Nenhum livro encontrado</td>
                              </tr>
                          <%}else{
                              livro_item.forEach(function(livro){ %>
                              <tr>
                                  <td> <%= livro.titulo %> </td>
                                  <td> <%= livro.nomeAutor %> </td>
                                  <td> <%= livro.anoPublicacao %> </td>
                              </tr>
                          <% })} %>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>

        <hr class="featurette-divider">

        <div class="container">
          <div class="row">
              <div class="col">
                  <div class="row">
                      <div class="col d-flex flex-wrap align-items-center">
                        <div class="col">
                            <h1>Lista de Alunos</h1>
                        </div>
                        <div class="col d-flex justify-content-end">
                            <form class="form-inline my-2 my-lg-0">
                                <input class="form-control mr-sm-2  ml-5" type="search" placeholder="Pesquisar livro" aria-label="Search">
                                <a href="/pesquisarLivros" class="btn btn-outline-primary">Pesquisar livros</a>
                              </form>
                        </div>
                      </div>
                  </div>
                  <table class="table table-hover">
                      <thead>
                          <tr>
                              <th>Nome do Aluno</th>
                              <th>Matrícula</th>
                              <th>Curso</th>
                          </tr>
                      </thead>
                      <tbody>
                          <% if(livro_nome == 0){ %>
                              <tr>
                                  <td colspan="6" class="alert alert-danger text-center">Nenhum livro encontrado</td>
                              </tr>
                          <%}else{
                              livro_item.forEach(function(livro){ %>
                              <tr>
                                  <td> <%= livro.nomeAluno %> </td>
                                  <td> <%= livro.matrícula %> </td>
                                  <td> <%= livro.curso %> </td>
                              </tr>
                          <% })} %>
                      </tbody>
                  </table>
              </div>
          </div>
        </div>
    </section>
  
</main>
<!-- Fim do conteúdo da página -->


<!-- receberá o Footer -->
<div class="container">
    <%- include('../partials/footer'); %>
</div>



<!-- Scripts - Bootstrap, JQuery e CloudFlare -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
<!-- scripts para Javascript Interno -->
<script src="public/js/bootstrap.bundle.min.js"></script>
<script src="public/js/validação.js"></script>
<script src="public/js/search.js"></script>   
</body>
</html>